*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background: url("fon_down.png") no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

}

.hidden {
    display: none;
}


header{
    width: 100%;
    height: 1100px;
    
}

.header_inner
{
	display: flex;
    width: 100%;
    height: 100%;
    position: static;
    color: rgb(0, 0, 0);
    background: url("fon.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    filter: blur(5px);
}

.txt_knopki{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    position: absolute;
    top :200px;
    border-radius: 10px;

}

.knopka{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 125px;
    background-color: rgba(253, 244, 176, 0.412);
    flex-direction: column;
    border-radius: 15px;
    
}

h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

#spisok {
    margin-top: 10px;
	width: 250px;
    height: 33px;
	outline: none;
    font-size: 20px;
	margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);

}

.loctxt{
	display: flex;
    align-items: center;
    margin-top: 40px;
    font-size: 24px;
}

.location{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loc {
   width: 100%;
   height: 100%;
}

main{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img{
    margin-top: 25px;
    width: 900px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-bottom: 150px;
}

footer{
    width: 100%;
    height: 60px;
    background-color: rgb(253, 244, 176);
    color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin-bottom: 30px;
    margin-right: 30px;
}

.f_txt{
    margin-top: 30px;
}

a{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}

a h1{
    font-size: 18px;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
}
